@use 'variables' as *;

// --- Minimal reset (solo lo necesario para base)
*,
*::before,
*::after {
  box-sizing: border-box;
}

a:focus-visible,
button:focus-visible {
  outline: 0px dashed #f0a50033;
  border-bottom: 0px dashed #f0a50033;
  outline-offset: 2px;
}

html {
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: $color-brand;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  font-family: var(--font-sans, $font-sans);
  font-size: 1rem;
  line-height: 1.5;
  color: $color-text;

  background-color: $color-bg;

  // overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    color: $color-link-hover;
    text-decoration: underline;
  }
}

button {
  font: inherit;
  cursor: pointer;
}

input,
textarea,
select {
  font: inherit;
}